.homebackground{
  top: 0;
  /* bottom: 0; */
  left: 0;
  right: 0;
  position:fixed;
  background-position: center;
  background-image: url(../images/homebackground.avif);
  background-size:cover ;
}

.hometitle{
  color: orange;
  text-shadow: 5px 5px 10px rgb(109, 109, 109);
  margin-top: 190px;
  font-size: 45px;
  font-weight: bold;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
