.inputs {
  /* border: 2px red solid; */
  color: #1b1b1b;
  height: calc(100vh - 128.64px);

  font-size: 30px;
  font-weight: bold;
  line-height: 50px;

  display: block;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin-top: 60px;
}

#outlined-basic {
  /* border: 2px red solid; */
  text-align: center;
}

.textfield {
  margin-bottom: 6px;
}


.select {
  /* border: 2px rgb(55, 0, 255) solid; */
  text-align: center;
  width: 224px;
  margin-right: auto;
  margin-left: auto;
}

.send {
  /* border: 2px rgb(55, 0, 255) solid; */

  width: 96px;
  margin: auto;
  margin-top: 10px;

  display: block;
  justify-content: center;
  align-items: center;

  text-align: center;

}

.message{
  /* border: 2px rgb(55, 0, 255) solid; */
  font-size: 15px;
  margin: auto;
  margin-top: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  background-color: rgb(182, 181, 181);
  border-radius: 10px;
}